.details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(65, 35, 199, 0.2);
    width: 100%;
    margin: 0;
    color: white;
    padding-top: 20px;
}

.character-detail {
  padding: 20px;
}

.episode-grid {
  margin-top: 20px;
}

.episode-card {
  background: rgba(29, 11, 109, 0.55);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}
